BOT_TOKEN=your_bot_token_here
ADMIN_IDS=123456789

PREMIUM_PRICE=35
VIP_DAYS=30
DAILY_SIGNAL_LIMIT=5

MIN_CONFIDENCE=79
A_SIGNAL_MIN_CONFIDENCE=85
A_PLUS_MIN_CONFIDENCE=90

TIMEFRAME=15m
KLINE_LIMIT=150
